
.my-carousel {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin: auto;
}

.article-hero img {
  width: 100%;
  object-fit: cover;
}

.article-footer {
  background-color: var(--main-dark);
  color: var(--main-light);
  padding: 1rem;
  margin-top: 100px;
}