.container {
  max-width: 960px;
  margin: auto;
}

.aside-menu {
  display: none;
}

@media only screen and (min-width: 768px) {
  .article-main {
    display: flex;
  }

  .article-body .my-carousel {
    float: left;
    max-width: 400px;
  }
}

@media only screen and (min-width: 1280px) {
  .aside-menu {
    display: block;
  }
}